{
    "openapi": "3.0.0",
    "info": {
        "title": "Stadion Tracker API",
        "description": "API-documentatie voor stadionbezoeken, wedstrijden, posts en gebruikersinteractie.",
        "contact": {
            "email": "cedricvanhoorebeke@outlook.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend.ddev.site",
            "description": "DDEV ontwikkelomgeving"
        }
    ],
    "paths": {
        "/api/follow": {
            "post": {
                "tags": [
                    "Follows"
                ],
                "summary": "Volg een team, stadion of user",
                "description": "Volg een gebruiker, team of stadion",
                "operationId": "65ded67358f9bd6506e785fa68e8d83a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "followable_type",
                                    "followable_id"
                                ],
                                "properties": {
                                    "followable_type": {
                                        "type": "string",
                                        "enum": [
                                            "team",
                                            "stadium",
                                            "user"
                                        ],
                                        "example": "team"
                                    },
                                    "followable_id": {
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Succesvol gevolgd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Succesvol gevolgd."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Je volgt dit al."
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/unfollow": {
            "delete": {
                "tags": [
                    "Follows"
                ],
                "summary": "Ontvolg een team, stadion of user",
                "description": "Ontvolg een gebruiker, team of stadion",
                "operationId": "9ea2db440194e1c642f950b579116d71",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "followable_type",
                                    "followable_id"
                                ],
                                "properties": {
                                    "followable_type": {
                                        "type": "string",
                                        "enum": [
                                            "team",
                                            "stadium",
                                            "user"
                                        ],
                                        "example": "stadium"
                                    },
                                    "followable_id": {
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ontvolgd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Ontvolgd."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/follows": {
            "get": {
                "tags": [
                    "Follows"
                ],
                "summary": "Overzicht van alles wat de gebruiker volgt",
                "description": "Lijst van alles wat de gebruiker volgt",
                "operationId": "08fc87d4b7122ac020531ed0b253a99a",
                "responses": {
                    "200": {
                        "description": "Lijst met volgitems",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "follows": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/users/profile": {
            "patch": {
                "tags": [
                    "Profiel"
                ],
                "summary": "Update het profiel van de ingelogde gebruiker",
                "operationId": "144b1ba1b408ef6116292242288097b4",
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "cedric_123"
                                    },
                                    "profile_image": {
                                        "type": "file"
                                    },
                                    "banner_image": {
                                        "type": "file"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profiel succesvol bijgewerkt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Profiel succesvol bijgewerkt."
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/comments": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Voeg een reactie toe",
                "operationId": "300619a0a4003920aafe960e45688102",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "post_id",
                                    "comment"
                                ],
                                "properties": {
                                    "post_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "comment": {
                                        "type": "string",
                                        "example": "Wat een sfeer daar!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Reactie succesvol aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/comments/{id}": {
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Verwijder een bestaande reactie",
                "operationId": "721e5dc0c32ef81276203df965767606",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de reactie",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 12
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Reactie succesvol verwijderd"
                    },
                    "403": {
                        "description": "Geen toestemming om deze reactie te verwijderen"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/games": {
            "get": {
                "tags": [
                    "Games"
                ],
                "summary": "Lijst van alle gespeelde en geplande wedstrijden",
                "operationId": "93736f40a135111a310e4b25ad61f30b",
                "responses": {
                    "200": {
                        "description": "Lijst van games",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Game"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Games"
                ],
                "summary": "Maak een nieuwe wedstrijd aan",
                "operationId": "b8b9557618eb0f7b3650bdd4ab3a6487",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "stadium_id",
                                    "home_team_id",
                                    "away_team_id",
                                    "match_date"
                                ],
                                "properties": {
                                    "stadium_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "home_team_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "away_team_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "home_score": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "away_score": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "match_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-15"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Wedstrijd aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Game"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/games/{id}": {
            "get": {
                "tags": [
                    "Games"
                ],
                "summary": "Toon details van een wedstrijd",
                "operationId": "f0bce1dcff3d56d19826d671761a43ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de wedstrijd",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details van de wedstrijd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Game"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Wedstrijd niet gevonden"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Games"
                ],
                "summary": "Update gegevens van een wedstrijd",
                "operationId": "7a7a51e92437ab9405a4bd9153eacec7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de wedstrijd",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "stadium_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "home_team_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "away_team_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "home_score": {
                                        "type": "integer",
                                        "example": 3,
                                        "nullable": true
                                    },
                                    "away_score": {
                                        "type": "integer",
                                        "example": 0,
                                        "nullable": true
                                    },
                                    "match_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-20"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Wedstrijd geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Game"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Games"
                ],
                "summary": "Verwijder een wedstrijd",
                "operationId": "1b52414d7af18b35901add3451cba91c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de wedstrijd",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Wedstrijd verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/likes": {
            "post": {
                "tags": [
                    "Likes"
                ],
                "summary": "Voeg een like toe aan een post",
                "operationId": "511c8161eb44f7b3479a914692d975ee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "post_id"
                                ],
                                "properties": {
                                    "post_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post geliket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Like"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/likes/{post_id}": {
            "delete": {
                "tags": [
                    "Likes"
                ],
                "summary": "Verwijder een like van een post",
                "operationId": "93f47e540787d577a30a2188b6fcfb66",
                "parameters": [
                    {
                        "name": "post_id",
                        "in": "path",
                        "description": "ID van de post",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Like verwijderd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Like niet gevonden"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Toon meldingen voor de huidige gebruiker",
                "operationId": "911565ad9aff9ba7eded3f189509e578",
                "responses": {
                    "200": {
                        "description": "Lijst met notificaties",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Notification"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/{id}": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Verwijder een notificatie",
                "operationId": "54c4eb5ec5dc0d1e2916cec2fced1056",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de notificatie",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Notificatie succesvol verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Geen toegang om deze notificatie te verwijderen"
                    },
                    "404": {
                        "description": "Notificatie niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Lijst van posts",
                "operationId": "e9eaf7df702a94f4443677bd1a36cfe6",
                "responses": {
                    "200": {
                        "description": "Overzicht van posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Creëer een nieuwe post over een wedstrijd",
                "operationId": "4a657e51a0066c64781851f2fd2651e2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "game_id",
                                    "content"
                                ],
                                "properties": {
                                    "game_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "content": {
                                        "type": "string",
                                        "example": "Geweldige sfeer in het stadion!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post succesvol aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/posts/{id}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Bekijk een specifieke post",
                "operationId": "b0f9d92879218f68a376b6edc6467c67",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de post",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details van de post",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "404": {
                        "description": "Post niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Posts"
                ],
                "summary": "Verwijder een post",
                "operationId": "fad1726bd24cd459fc1525b67985df39",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de post",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Post verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Niet gemachtigd om te verwijderen"
                    },
                    "404": {
                        "description": "Post niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Posts"
                ],
                "summary": "Bewerk een bestaande post",
                "operationId": "bd0f2d7a9af7f3cc0f455045c2b8750e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de post",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 3
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "content": {
                                        "type": "string",
                                        "example": "Aangepaste inhoud"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post bijgewerkt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Niet gemachtigd"
                    },
                    "404": {
                        "description": "Post niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/stadiums": {
            "get": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Toon alle stadions",
                "operationId": "e9d19b4fa2309d858ad54950b6035a88",
                "responses": {
                    "200": {
                        "description": "Lijst van stadions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Stadium"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Voeg een stadion toe",
                "operationId": "73243d27184c81bef747d67cbb8ce256",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "city",
                                    "capacity"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Signal Iduna Park"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Dortmund"
                                    },
                                    "capacity": {
                                        "type": "integer",
                                        "example": 81365
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Stadion aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stadium"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/stadiums/{id}": {
            "get": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Toon één stadion",
                "operationId": "3010630415c0601fa4ec520977e806ea",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het stadion",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stadion gevonden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stadium"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Verwijder een stadion",
                "operationId": "10a6a12367522d9200ae2f6921b476cf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het stadion",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Stadion verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Geen rechten"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Update een stadion",
                "operationId": "1642a91125dbf44ba8cd84f9a7afe729",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het stadion",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Borussia-Park"
                                    },
                                    "city": {
                                        "type": "string",
                                        "example": "Mönchengladbach"
                                    },
                                    "capacity": {
                                        "type": "integer",
                                        "example": 54000
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Stadion geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stadium"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Geen rechten"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/teams": {
            "get": {
                "tags": [
                    "Teams"
                ],
                "summary": "Toon alle teams",
                "operationId": "fc1c5dd9ef530faf6e8bba930cad296c",
                "responses": {
                    "200": {
                        "description": "Lijst van teams",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Team"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Teams"
                ],
                "summary": "Voeg een team toe",
                "operationId": "b05c08b4a03b1d708fc94bf7dd5f8e46",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "league"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Borussia Dortmund"
                                    },
                                    "league": {
                                        "type": "string",
                                        "example": "Bundesliga"
                                    },
                                    "logo_url": {
                                        "type": "string",
                                        "example": "https://example.com/logo.png"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Team aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/teams/{id}": {
            "get": {
                "tags": [
                    "Teams"
                ],
                "summary": "Toon een team",
                "operationId": "ab05003decb5cbc16154382836f51e3e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het team",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Teamdetails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Teams"
                ],
                "summary": "Verwijder een team",
                "operationId": "9b992594932c3e54aa58b58c3c1e933c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het team",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Team verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Geen rechten"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Teams"
                ],
                "summary": "Update een team",
                "operationId": "2a299a39a07271ced7697bd8f8ca54aa",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het team",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Borussia Dortmund"
                                    },
                                    "league": {
                                        "type": "string",
                                        "example": "Bundesliga"
                                    },
                                    "logo_url": {
                                        "type": "string",
                                        "example": "https://example.com/logo.png"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Team geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Geen rechten"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits": {
            "get": {
                "tags": [
                    "Visits"
                ],
                "summary": "Toon alle bezoeken van de ingelogde gebruiker",
                "operationId": "59bc502e31c31bcb9d32d86e06260de5",
                "responses": {
                    "200": {
                        "description": "Lijst van bezoeken",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Visit"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Visits"
                ],
                "summary": "Registreer een stadionbezoek",
                "operationId": "2ff60d5091a706b6942379521ae9074f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "game_id"
                                ],
                                "properties": {
                                    "game_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "visited_at": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-12"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Leuk stadion met goede sfeer."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bezoek geregistreerd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Visit"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits/{id}": {
            "get": {
                "tags": [
                    "Visits"
                ],
                "summary": "Toon een specifiek stadionbezoek",
                "operationId": "42d6ce6dce87180d7400f1a2ad20259e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het bezoek",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bezoekdetails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Visit"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Geen toegang tot dit bezoek"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Visits"
                ],
                "summary": "Verwijder een bezoek",
                "operationId": "17961e50292ffea006c5ff414d95307b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het bezoek",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Bezoek verwijderd"
                    },
                    "403": {
                        "description": "Niet gemachtigd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Visits"
                ],
                "summary": "Update een stadionbezoek",
                "operationId": "c08d3616b43bcf1ad1e1ef0da9594169",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het bezoek",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "visited_at": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-12"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Bijgewerkte notitie"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bezoek geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Visit"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Niet gemachtigd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Comment": {
                "required": [
                    "user_id",
                    "post_id",
                    "comment"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "post_id": {
                        "type": "integer",
                        "example": 12
                    },
                    "comment": {
                        "type": "string",
                        "example": "Leuke sfeer tijdens de match!"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:05:00Z"
                    }
                },
                "type": "object"
            },
            "Game": {
                "required": [
                    "stadium_id",
                    "home_team_id",
                    "away_team_id",
                    "match_date"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "stadium_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "home_team_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "away_team_id": {
                        "type": "integer",
                        "example": 4
                    },
                    "home_score": {
                        "type": "integer",
                        "example": 2,
                        "nullable": true
                    },
                    "away_score": {
                        "type": "integer",
                        "example": 1,
                        "nullable": true
                    },
                    "match_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-05-14"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:05:00Z"
                    }
                },
                "type": "object"
            },
            "Like": {
                "required": [
                    "user_id",
                    "post_id"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 10
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "post_id": {
                        "type": "integer",
                        "example": 5
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:15:00Z"
                    }
                },
                "type": "object"
            },
            "Notification": {
                "required": [
                    "user_id",
                    "sender_id",
                    "type"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 22
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "sender_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "type": {
                        "type": "string",
                        "example": "comment"
                    },
                    "game_id": {
                        "type": "integer",
                        "example": 5,
                        "nullable": true
                    },
                    "post_id": {
                        "type": "integer",
                        "example": 9,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:20:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:30:00Z"
                    }
                },
                "type": "object"
            },
            "Post": {
                "required": [
                    "user_id",
                    "game",
                    "content"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 7
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "game": {
                        "$ref": "#/components/schemas/Game"
                    },
                    "comments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Comment"
                        }
                    },
                    "content": {
                        "type": "string",
                        "example": "Wat een sfeer tijdens die derby!"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T09:55:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:05:00Z"
                    }
                },
                "type": "object"
            },
            "Stadium": {
                "required": [
                    "name",
                    "city",
                    "capacity"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Allianz Arena"
                    },
                    "city": {
                        "type": "string",
                        "example": "München"
                    },
                    "capacity": {
                        "type": "integer",
                        "example": 75000
                    },
                    "image": {
                        "type": "string",
                        "format": "url",
                        "example": "storage/profiles/stadium.jpg",
                        "nullable": true
                    },
                    "banner_image": {
                        "type": "string",
                        "format": "url",
                        "example": "storage/banners/stadium_banner.jpg",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-01T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-01T12:00:00Z"
                    }
                },
                "type": "object"
            },
            "Team": {
                "required": [
                    "name",
                    "league"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Borussia Dortmund"
                    },
                    "league": {
                        "type": "string",
                        "example": "Bundesliga"
                    },
                    "logo_url": {
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/logo.png",
                        "nullable": true
                    },
                    "banner_image": {
                        "type": "string",
                        "format": "url",
                        "example": "https://example.com/banner.png",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-01T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-01T12:00:00Z"
                    }
                },
                "type": "object"
            },
            "User": {
                "required": [
                    "id",
                    "name",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Cédric Van Hoorebeke"
                    },
                    "username": {
                        "type": "string",
                        "example": "cedricvh"
                    },
                    "email": {
                        "type": "string",
                        "example": "cedric@example.com"
                    },
                    "profile_image": {
                        "type": "string",
                        "example": "storage/profiles/1.jpg",
                        "nullable": true
                    },
                    "banner_image": {
                        "type": "string",
                        "example": "storage/banners/1.jpg",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                },
                "type": "object"
            },
            "Visit": {
                "required": [
                    "user_id",
                    "game"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 14
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "game": {
                        "$ref": "#/components/schemas/Game"
                    },
                    "visited_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-05-12",
                        "nullable": true
                    },
                    "notes": {
                        "type": "string",
                        "example": "Geweldige sfeer, veel pyro!",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:15:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:20:00Z"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "bearerFormat": "Token",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Follows",
            "description": "Volgen en ontvolgen van gebruikers, clubs en stadions"
        },
        {
            "name": "Comments",
            "description": "Endpoints voor reacties op posts"
        },
        {
            "name": "Games",
            "description": "Wedstrijden tussen teams in een stadion"
        },
        {
            "name": "Likes",
            "description": "Liken en unliken van posts"
        },
        {
            "name": "Notifications",
            "description": "Meldingen voor nieuwe posts of bezoeken van vrienden"
        },
        {
            "name": "Posts",
            "description": "Posts aanmaken over wedstrijden"
        },
        {
            "name": "Stadiums",
            "description": "Beheer van stadions"
        },
        {
            "name": "Teams",
            "description": "Beheer van voetbalteams"
        },
        {
            "name": "Visits",
            "description": "Bijhouden van bezochte wedstrijden"
        },
        {
            "name": "Profiel",
            "description": "Profiel"
        }
    ]
}