{
    "openapi": "3.0.0",
    "info": {
        "title": "Stadion Tracker API",
        "description": "API-documentatie voor stadionbezoeken, wedstrijden, posts en gebruikersinteractie.",
        "contact": {
            "email": "cedricvanhoorebeke@outlook.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend.ddev.site",
            "description": "DDEV ontwikkelomgeving"
        }
    ],
    "paths": {
        "/follow": {
            "post": {
                "tags": [
                    "Follows"
                ],
                "summary": "Volg een team, stadion of gebruiker",
                "operationId": "c445351cf4039ea6ab8ee80d592f231a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "followable_type",
                                    "followable_id"
                                ],
                                "properties": {
                                    "followable_type": {
                                        "type": "string",
                                        "enum": [
                                            "team",
                                            "stadium",
                                            "user"
                                        ],
                                        "example": "team"
                                    },
                                    "followable_id": {
                                        "type": "integer",
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Succesvol gevolgd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Succesvol gevolgd."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Je volgt dit al."
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/unfollow": {
            "delete": {
                "tags": [
                    "Follows"
                ],
                "summary": "Ontvolg een team, stadion of gebruiker",
                "operationId": "eba2e71b1d57e6e911418f640bfad4a7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "followable_type",
                                    "followable_id"
                                ],
                                "properties": {
                                    "followable_type": {
                                        "type": "string",
                                        "enum": [
                                            "team",
                                            "stadium",
                                            "user"
                                        ],
                                        "example": "stadium"
                                    },
                                    "followable_id": {
                                        "type": "integer",
                                        "example": 5
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ontvolgd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Ontvolgd."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/following": {
            "get": {
                "tags": [
                    "Follows"
                ],
                "summary": "Lijst van gevolgde items door de gebruiker",
                "operationId": "b74642416479ded7f45ca1d0210cc7dd",
                "responses": {
                    "200": {
                        "description": "Lijst met volgitems",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "follows": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "followable_type": {
                                                        "type": "string"
                                                    },
                                                    "followable_id": {
                                                        "type": "integer"
                                                    },
                                                    "followable": {
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Toon alle gebruikers",
                "operationId": "7208c29037df2b8bb02499ba39ed8a78",
                "responses": {
                    "200": {
                        "description": "Lijst van gebruikers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Toon één gebruiker op ID",
                "operationId": "6946bbab7898f59a09e3c8e529a38907",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de gebruiker",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details van een gebruiker",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Gebruiker niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Users"
                ],
                "summary": "Toon huidige ingelogde gebruiker",
                "operationId": "de3936ad40be9d99a380e4fcfcc59871",
                "responses": {
                    "200": {
                        "description": "Eigen gebruikersprofiel",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet ingelogd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/users/profile": {
            "post": {
                "tags": [
                    "Profiel"
                ],
                "summary": "Update het profiel van de ingelogde gebruiker",
                "operationId": "34ed39829ad0eb744b2283606c6fccef",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "username"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "newusername"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "banner_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profiel succesvol bijgewerkt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/comments": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "summary": "Voeg een reactie toe",
                "operationId": "300619a0a4003920aafe960e45688102",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "post_id",
                                    "comment"
                                ],
                                "properties": {
                                    "post_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "comment": {
                                        "type": "string",
                                        "example": "Wat een sfeer daar!"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Reactie succesvol aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/comments/{id}": {
            "delete": {
                "tags": [
                    "Comments"
                ],
                "summary": "Verwijder een bestaande reactie",
                "operationId": "721e5dc0c32ef81276203df965767606",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de reactie",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 12
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Reactie succesvol verwijderd"
                    },
                    "403": {
                        "description": "Je hebt geen rechten om deze reactie te verwijderen"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/games": {
            "get": {
                "tags": [
                    "Games"
                ],
                "summary": "Lijst van alle gespeelde en geplande wedstrijden",
                "operationId": "93736f40a135111a310e4b25ad61f30b",
                "responses": {
                    "200": {
                        "description": "Lijst van games",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Game"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Games"
                ],
                "summary": "Maak een nieuwe wedstrijd aan",
                "operationId": "b8b9557618eb0f7b3650bdd4ab3a6487",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "stadium_id",
                                    "home_team_id",
                                    "away_team_id",
                                    "match_date"
                                ],
                                "properties": {
                                    "stadium_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "home_team_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "away_team_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "home_score": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "away_score": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "match_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-15"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Wedstrijd aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Game"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/games/{id}": {
            "get": {
                "tags": [
                    "Games"
                ],
                "summary": "Toon details van een wedstrijd",
                "operationId": "f0bce1dcff3d56d19826d671761a43ff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de wedstrijd",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 4
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details van de wedstrijd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Game"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Wedstrijd niet gevonden"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Games"
                ],
                "summary": "Update gegevens van een wedstrijd",
                "operationId": "7a7a51e92437ab9405a4bd9153eacec7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de wedstrijd",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 4
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "stadium_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "home_team_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "away_team_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "match_date": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-20"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Wedstrijd geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Game"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Games"
                ],
                "summary": "Verwijder een wedstrijd",
                "operationId": "1b52414d7af18b35901add3451cba91c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de wedstrijd",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 4
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Wedstrijd verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/likes": {
            "post": {
                "tags": [
                    "Likes"
                ],
                "summary": "Voeg een like toe aan een post",
                "operationId": "511c8161eb44f7b3479a914692d975ee",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "post_id"
                                ],
                                "properties": {
                                    "post_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post geliket",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Like"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/likes/{post_id}": {
            "delete": {
                "tags": [
                    "Likes"
                ],
                "summary": "Verwijder een like van een post",
                "operationId": "93f47e540787d577a30a2188b6fcfb66",
                "parameters": [
                    {
                        "name": "post_id",
                        "in": "path",
                        "description": "ID van de post",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Like verwijderd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "deleted": {
                                            "type": "boolean",
                                            "example": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Like niet gevonden"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Toon meldingen voor de huidige gebruiker",
                "operationId": "911565ad9aff9ba7eded3f189509e578",
                "responses": {
                    "200": {
                        "description": "Lijst met notificaties",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Notification"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/{id}": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Verwijder een notificatie",
                "operationId": "54c4eb5ec5dc0d1e2916cec2fced1056",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van de notificatie",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Notificatie succesvol verwijderd"
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    },
                    "403": {
                        "description": "Geen toegang om deze notificatie te verwijderen"
                    },
                    "404": {
                        "description": "Notificatie niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Haal alle posts op (met filters)",
                "operationId": "e9eaf7df702a94f4443677bd1a36cfe6",
                "parameters": [
                    {
                        "name": "exclude_me",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "stadium_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "team_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lijst met posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Posts"
                ],
                "summary": "Maak een nieuwe post aan",
                "operationId": "4a657e51a0066c64781851f2fd2651e2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "game_id"
                                ],
                                "properties": {
                                    "game_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "stadium_id": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "team_id": {
                                        "type": "integer",
                                        "example": 3,
                                        "nullable": true
                                    },
                                    "caption": {
                                        "type": "string",
                                        "example": "Geweldige match!"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Post aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/posts/{id}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Toon één post",
                "operationId": "b0f9d92879218f68a376b6edc6467c67",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details van post",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Post niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Posts"
                ],
                "summary": "Update een bestaande post",
                "operationId": "929614537d76a081a92170a41ed3bdb3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "caption": {
                                        "type": "string",
                                        "example": "Gewijzigd onderschrift"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Post geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Post"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Geen toestemming"
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Posts"
                ],
                "summary": "Verwijder een post",
                "operationId": "fad1726bd24cd459fc1525b67985df39",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Post verwijderd"
                    },
                    "403": {
                        "description": "Geen toestemming"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/me/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "Toon posts van de ingelogde gebruiker",
                "operationId": "79db165f199f3b1716f02df39810fc8c",
                "responses": {
                    "200": {
                        "description": "Lijst met eigen posts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Post"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/stadiums": {
            "get": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Toon alle stadions",
                "operationId": "e9d19b4fa2309d858ad54950b6035a88",
                "responses": {
                    "200": {
                        "description": "Lijst van stadions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Stadium"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Voeg een nieuw stadion toe",
                "operationId": "73243d27184c81bef747d67cbb8ce256",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name",
                                    "latitude",
                                    "longitude"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Allianz Arena"
                                    },
                                    "team_id": {
                                        "type": "integer",
                                        "example": 5,
                                        "nullable": true
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "48.2188000"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "11.6247000"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "banner_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Stadion aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stadium"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/stadiums/{id}": {
            "get": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Toon details van een stadion",
                "operationId": "3010630415c0601fa4ec520977e806ea",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Stadion gevonden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stadium"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Update een stadion (custom route)",
                "operationId": "4afecf6a7e38150c3f5798fe762e411b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Stade de France"
                                    },
                                    "team_id": {
                                        "type": "integer",
                                        "example": 2,
                                        "nullable": true
                                    },
                                    "latitude": {
                                        "type": "string",
                                        "example": "48.924459"
                                    },
                                    "longitude": {
                                        "type": "string",
                                        "example": "2.360169"
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "banner_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Stadion geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Stadium"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Stadiums"
                ],
                "summary": "Verwijder een stadion",
                "operationId": "10a6a12367522d9200ae2f6921b476cf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Stadion verwijderd"
                    },
                    "404": {
                        "description": "Niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/teams": {
            "get": {
                "tags": [
                    "Teams"
                ],
                "summary": "Toon alle teams",
                "operationId": "fc1c5dd9ef530faf6e8bba930cad296c",
                "responses": {
                    "200": {
                        "description": "Lijst van teams",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Team"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Teams"
                ],
                "summary": "Voeg een nieuw team toe",
                "operationId": "b05c08b4a03b1d708fc94bf7dd5f8e46",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "RSC Anderlecht"
                                    },
                                    "league_id": {
                                        "type": "integer",
                                        "example": 3
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "banner_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Team aangemaakt",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/teams/{id}": {
            "get": {
                "tags": [
                    "Teams"
                ],
                "summary": "Toon een specifiek team",
                "operationId": "ab05003decb5cbc16154382836f51e3e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Team details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Team niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Teams"
                ],
                "summary": "Update teamgegevens (PATCH via _method)",
                "operationId": "182759eb9561676d895be2816abda575",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "_method": {
                                        "type": "string",
                                        "example": "PATCH"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Club Brugge"
                                    },
                                    "league_id": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "profile_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "banner_image": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Team geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Team"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validatiefout"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Teams"
                ],
                "summary": "Verwijder een team",
                "operationId": "9b992594932c3e54aa58b58c3c1e933c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Team verwijderd"
                    },
                    "404": {
                        "description": "Team niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits": {
            "get": {
                "tags": [
                    "Visits"
                ],
                "summary": "Toon alle bezoeken van de ingelogde gebruiker",
                "operationId": "59bc502e31c31bcb9d32d86e06260de5",
                "responses": {
                    "200": {
                        "description": "Lijst van bezoeken",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Visit"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Visits"
                ],
                "summary": "Registreer een stadionbezoek",
                "operationId": "2ff60d5091a706b6942379521ae9074f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "game_id"
                                ],
                                "properties": {
                                    "game_id": {
                                        "type": "integer",
                                        "example": 5
                                    },
                                    "visited_at": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-12"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Leuk stadion met goede sfeer."
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Bezoek geregistreerd",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Visit"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Niet geauthenticeerd"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/visits/{id}": {
            "get": {
                "tags": [
                    "Visits"
                ],
                "summary": "Toon een specifiek stadionbezoek",
                "operationId": "42d6ce6dce87180d7400f1a2ad20259e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het bezoek",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bezoekdetails",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Visit"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Geen toegang tot dit bezoek"
                    },
                    "404": {
                        "description": "Bezoek niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Visits"
                ],
                "summary": "Verwijder een stadionbezoek",
                "operationId": "17961e50292ffea006c5ff414d95307b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het bezoek",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Bezoek verwijderd"
                    },
                    "403": {
                        "description": "Niet gemachtigd"
                    },
                    "404": {
                        "description": "Bezoek niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Visits"
                ],
                "summary": "Update een stadionbezoek",
                "operationId": "c08d3616b43bcf1ad1e1ef0da9594169",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID van het bezoek",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "visited_at": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2025-05-12"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Bijgewerkte notitie"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Bezoek geüpdatet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Visit"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Niet gemachtigd"
                    },
                    "404": {
                        "description": "Bezoek niet gevonden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Comment": {
                "required": [
                    "user_id",
                    "post_id",
                    "comment"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "post_id": {
                        "type": "integer",
                        "example": 12
                    },
                    "comment": {
                        "type": "string",
                        "example": "Leuke sfeer tijdens de match!"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:05:00Z"
                    },
                    "user": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/User"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Game": {
                "required": [
                    "stadium_id",
                    "home_team_id",
                    "away_team_id",
                    "match_date"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "stadium_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "home_team_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "away_team_id": {
                        "type": "integer",
                        "example": 4
                    },
                    "match_date": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-05-14"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:05:00Z"
                    },
                    "stadium": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Stadium"
                            }
                        ],
                        "nullable": true
                    },
                    "home_team": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Team"
                            }
                        ],
                        "nullable": true
                    },
                    "away_team": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Team"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Like": {
                "required": [
                    "user_id",
                    "post_id"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 10
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "post_id": {
                        "type": "integer",
                        "example": 5
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:15:00Z"
                    },
                    "user": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/User"
                            }
                        ],
                        "nullable": true
                    },
                    "post": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Post"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Notification": {
                "required": [
                    "user_id",
                    "sender_id",
                    "type"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 22
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "sender_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "type": {
                        "type": "string",
                        "example": "comment"
                    },
                    "game_id": {
                        "type": "integer",
                        "example": 5,
                        "nullable": true
                    },
                    "post_id": {
                        "type": "integer",
                        "example": 9,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:20:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-05-14T10:30:00Z"
                    },
                    "game": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Game"
                            }
                        ],
                        "nullable": true
                    },
                    "post": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Post"
                            }
                        ],
                        "nullable": true
                    },
                    "sender": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/User"
                            }
                        ],
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "Post": {
                "required": [
                    "user_id",
                    "game"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 12
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "game": {
                        "$ref": "#/components/schemas/Game"
                    },
                    "comments": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Comment"
                        }
                    },
                    "likes": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Like"
                        }
                    },
                    "image": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://example.com/storage/posts/12345.jpg",
                        "nullable": true
                    },
                    "title": {
                        "type": "string",
                        "example": "FC Barcelona vs Real Madrid",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-01T14:20:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-01T15:00:00Z"
                    }
                },
                "type": "object"
            },
            "Stadium": {
                "required": [
                    "name",
                    "latitude",
                    "longitude"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 15
                    },
                    "name": {
                        "type": "string",
                        "example": "Allianz Arena"
                    },
                    "team_name": {
                        "type": "string",
                        "example": "Bayern Munich",
                        "nullable": true
                    },
                    "profile_image": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://your-bucket.s3.region.amazonaws.com/uploads/stadiums/profile-image/abc.jpg",
                        "nullable": true
                    },
                    "banner_image": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://your-bucket.s3.region.amazonaws.com/uploads/stadiums/banner-image/xyz.jpg",
                        "nullable": true
                    },
                    "latitude": {
                        "type": "string",
                        "example": "48.2188"
                    },
                    "longitude": {
                        "type": "string",
                        "example": "11.6247"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-01T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-01T12:00:00Z"
                    }
                },
                "type": "object"
            },
            "Team": {
                "required": [
                    "name",
                    "league_id"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Manchester City"
                    },
                    "league_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "profile_image": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://your-bucket.s3.region.amazonaws.com/teams/profile-image/abc.jpg",
                        "nullable": true
                    },
                    "banner_image": {
                        "type": "string",
                        "format": "uri",
                        "example": "https://your-bucket.s3.region.amazonaws.com/teams/banner-image/xyz.jpg",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-01T10:00:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-01T10:30:00Z"
                    }
                },
                "type": "object"
            },
            "User": {
                "required": [
                    "id",
                    "name",
                    "username",
                    "email"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Cédric Van Hoorebeke"
                    },
                    "username": {
                        "type": "string",
                        "example": "cedrictest"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "cedric@example.com"
                    },
                    "role": {
                        "type": "string",
                        "example": "user"
                    },
                    "profile_image": {
                        "type": "string",
                        "example": "https://s3-url.com/image.jpg",
                        "nullable": true
                    },
                    "banner_image": {
                        "type": "string",
                        "example": "https://s3-url.com/banner.jpg",
                        "nullable": true
                    },
                    "email_verified_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-18T12:34:56Z",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-18T12:34:56Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-06-18T12:34:56Z"
                    }
                },
                "type": "object"
            },
            "Visit": {
                "required": [
                    "user_id",
                    "game"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true,
                        "example": 14
                    },
                    "user_id": {
                        "type": "integer",
                        "example": 3
                    },
                    "game": {
                        "$ref": "#/components/schemas/Game"
                    },
                    "visited_at": {
                        "type": "string",
                        "format": "date",
                        "example": "2025-05-12",
                        "nullable": true
                    },
                    "notes": {
                        "type": "string",
                        "example": "Geweldige sfeer, veel pyro!",
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:15:00Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true,
                        "example": "2025-05-14T10:20:00Z"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "bearerFormat": "Token",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Follows",
            "description": "Volgen en ontvolgen van gebruikers, clubs en stadions"
        },
        {
            "name": "Users",
            "description": "Gebruikers ophalen en bekijken"
        },
        {
            "name": "Profiel",
            "description": "Gebruikersprofiel bewerken"
        },
        {
            "name": "Comments",
            "description": "Endpoints voor reacties op posts"
        },
        {
            "name": "Games",
            "description": "Wedstrijden tussen teams in een stadion"
        },
        {
            "name": "Likes",
            "description": "Liken en unliken van posts"
        },
        {
            "name": "Notifications",
            "description": "Meldingen voor nieuwe posts of bezoeken van vrienden"
        },
        {
            "name": "Posts",
            "description": "Posts aanmaken over wedstrijden"
        },
        {
            "name": "Stadiums",
            "description": "Beheer van stadions"
        },
        {
            "name": "Teams",
            "description": "Beheer van voetbalteams"
        },
        {
            "name": "Visits",
            "description": "Bijhouden van bezochte wedstrijden"
        }
    ]
}